body.pin_header header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
body.pin_header .featured__container, body.pin_header .header__error {
	margin-top: 39px;
	margin-bottom: -39px;
}
body.pin_header .page__outer-wrap {
	margin-top: 39px;
}
.sgh_searchbutton {
	font-size: 20px;
}
.search_similar input[type=submit] {
	display: none;
}
.featured__heading .search_similar label {
	font-size: 20px;
	opacity: 0.5;
	cursor: pointer;
}
.search_similar.giveaway__icon label {
	display: block;
	cursor: pointer;
}
